<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalvi.rushikesh.fitnessfreaks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstScreen" />
        <activity android:name=".row_view" />
        <activity android:name=".Lastscreen" />
        <activity android:name=".FirstFragment" />
        <activity android:name=".Secondscreen" />
        <activity android:name=".SecondFragment"></activity>
    </application>

</manifest>